@tailwind base;
@tailwind components;
@tailwind utilities;

hr {
  height: 2px;
  border: none;
  margin-left: auto;
  margin-right: auto;
}

[data-accordion] dt + dd {
  height: 0;
  overflow: hidden;
}
[data-accordion] dt:last-of-type,
[data-accordion] dd:last-of-type {
  border-bottom: none;
}

[data-accordion] dt.open svg {
  transform: rotate(90deg);
}

[data-accordion] dt.open + dd {
  height: auto;
  padding-bottom: 1rem;
}

[data-cross] li {
  min-height: 15vw;
}

[data-cross]:after, 
[data-cross]:before {
  position:absolute;
  content: '';
}

[data-cross]:after {
  width: 0.3125rem;
  height: 0.3125rem;
  background-color: white;
  left: calc(50% - 0.1625rem);
  bottom: calc(50% - 0.1625rem);
  border-radius:100%;
}

[data-cross]:before {
  width: 1rem;
  height: 1rem;
  border: solid 1px white;
  transform: rotate(45deg);
  left: calc(50% - 0.5rem);
  bottom: calc(50% - 0.5rem);
}

[data-cross] li {
  padding-right: 2rem;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

[data-cross] li:last-child, 
[data-cross] li:nth-child(4n-1) {
  border-top: 1px solid white;
  border-bottom:none;
}

[data-cross] li:last-child, 
[data-cross] li:nth-child(3n-1) {
  border-right:none;
  border-left: 1px solid white;
  padding-left: 0.875rem;
}

[data-slide] figure {
  min-height: 50vw;
}

.bg-chocolate-gradient {
  background: linear-gradient(180deg, #412B23 0%, #29231D 100%);
}

@media only screen and (min-width:48em) {
  [data-touts] {
    background: url(./vert_rule.png) 33% center no-repeat, 
                url(./vert_rule.png) 66% center no-repeat;
  }
  [data-slide] figcaption *:not(h4):not(hr) {
    opacity:0;
  }
  [data-slide] figure {
    min-height: 66vh;
  }
  [data-slide]:hover figcaption * {
    opacity: 1;
  }

  [data-cross]:after,
  [data-cross]:before {
    bottom: unset;
  }

  [data-cross]:after {
    width: 0.3125rem;
    height: 0.3125rem;
    left: calc(50% - 0.155125rem);
    top: calc(50% - 0.155125rem);
  }
  
  [data-cross]:before {
    width: 1.5rem;
    height: 1.5rem;
    left: calc(50% - 0.75rem);
    top: calc(50% - 0.75rem);
  }
  [data-cross] li:last-child, 
  [data-cross] li:nth-child(3n-1) {
    padding-left: 2rem;
    padding-right: 0;
  }

  [data-cross] li:last-child, 
  [data-cross] li:nth-child(4n-1) {
    border-top: none;
  }
  [data-cross] li {
    min-height: 10vw;
  }
}

@layer base {
  html {
    font-family: Nunito, Arial, system-ui, sans-serif;
  }
}