@tailwind base;
@tailwind components;
@tailwind utilities;

[data-accordion] dt + dd {
  height: 0;
  overflow: hidden;
}

[data-accordion] dt.open + dd {
  height: auto;
  padding-bottom: 1rem;
}

[data-contact]:hover {
  border-color: transparent;
  box-shadow: 0 1rem 0.9375rem 0 rgb(0 0 0 / 33%);
  cursor: pointer;
  transform: scale(1.125);
}

[data-contact]:hover button {
  color: black;
  background-color: rgb(181 170 72);
}

[data-slide]:hover {
  box-shadow: 0 1rem 0.9375rem 0 rgb(0 0 0 / 33%);
  cursor: pointer;
  transform: scale(1.125);
}

@layer base {
  html {
    font-family: Nunito, Arial, system-ui, sans-serif;
  }
}